*{
    margin: 0;
    padding: 0;
}
.layout-container{
    display: grid;
    grid-template-columns: 0.2fr auto;
    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer";
}
img{
    width: 100%;
    height: auto;
}
header{
    grid-area: header;
    background-color: aqua;
    padding: 1%;
    text-align: center;
}
aside{
    grid-area: aside;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
}
.sub-categories{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 5px;
    font-size: larger;
}
.sub-categories small{
    opacity: 0.7;
}
main{
    grid-area: main;
    background-color: cadetblue;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 500px));
    justify-items: center;
    gap: 20px;
}
.card{
    margin: 20px;

    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.text-product{
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-product span{
    font-weight: bolder;
    opacity: 0.5;
}
button{
    background-color: blueviolet;
    width: 100%;
    padding: 10px;
    
}
footer{
    grid-area: footer;
    background-color: aqua;
    padding: 1%;
    text-align: center;
}
